
body{
	background-color: rgb(250, 250, 250);
	margin-bottom: 100px;
}

.content-wrapper{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: 0 20px;
    position: relative;
}

/*
.content-wrapper{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 0 20px;
}
*/

.content{
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.content h1{
    font-size: 20px;
    text-align: center;
}

.content > .card{
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
}
.content > .card > h1{
    margin: 0;
    margin-bottom: 10px;
}

.collection.author-list{
    text-align: left;
}

.profile-link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 2;
}

.profile__top-post{
	z-index: 3;
}
.profile__top-post a{
	z-index: 3;
	position: absolute;
    margin-left: 4px;
}

.profile__top-post a:hover{
	text-decoration: underline;
}

.collection.author-list a.profile{
    color: rgba(0,0,0,0.87);
}

.collection.author-list .collection-item:hover {
    background-color: #ddd;
    background-color: #eee;
}

.profile i{
	color: rgba(0,0,0,0.6);
}

.profile__data__main > span:not(:last-child):after {
    content: '|';
    margin: 0 7px;
}

.profile__comments i{
    margin-right: 5px;
}

.profile__data__main i{
    font-size: 17px;
    vertical-align: text-top;
}

.profile__position{
    font-size: 20px;
    font-weight: 600;
}

.sorters-wrapper{
    font-family: Space Mono,monospace;
    position: absolute;
    left: 0;
}

.sorters-wrapper h3{
	font-size: 18px;
	margin-bottom: 13px;
}

.sorters{
    border-left: 1px solid #ccc;
    padding-left: 10px;
    display: inline-block;
}

.sorters .sorter__link{
	position: relative;
	display: block;
	opacity: 0.4;
	color: #000;
    z-index: 2;

    transition: 0.1s;
}

.sorters .sorter__link:not(:first-child){
	margin-top: 10px;
}

.sorters .sorter__link:hover{
	cursor: pointer;
	opacity: 1;
}

.sorters .sorter__link.active{
	opacity: 1;
}

.sorters .active:before{
	content: '';
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #000;
    left: -12px;
    position: absolute;
}

@media(max-width: 1270px){
	.sorters-wrapper{
		margin-bottom: 30px;
	    text-align: center;
	}

	.sorters{
		border: none;
	}

	.sorters .active:before{
		display: none;
	}
}

