
body{
	background-color: rgb(250, 250, 250);
	margin-bottom: 100px;
}

.content{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 0 20px;
}

h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.collection a.collection-item{
    color: rgba(0,0,0,0.87);
}

.profile i{
	color: rgba(0,0,0,0.6);
}

.profile__data__main > span:not(:last-child):after {
    content: '|';
    margin: 0 7px;
}

.profile__comments i{
    margin-right: 5px;
}

.profile__data__main i{
    font-size: 17px;
    vertical-align: text-top;
}


